<div class=".loader" id="js-loading-icon">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>

<main>
                        <!-- ============================= トップビジュアル ============================= -->
  <section id="top" class="top-wrapper">
    <div class="container">
      <div>
        <a href="https://tshirt519.github.io/mulunch/#concept" class="scroll-btn">
          <p>SCROLL</p>
          <p><i class="fas fa-chevron-circle-down"></i></p>
        </a>
      </div>
    </div>
  </section>
                        <!-- ============================= コンセプトページ ============================= -->
  <section id="concept" class="concept-wrapper">
    <div class="container concept-flex">
      <div class="concept-left">
        <div class="concept-left-margin">
          <div>
            <h1><span class="mulunch-font">初めまして、</span></h1>
            <h1><span class="mulunch-font">むらんちです！</span></h1>
          </div>
          <div>
            <p>私たちは、2018年に発足した若者中</p>
            <p>心のボランティア団体です。</p>
            <p>”食べること”と豊かな自然や暮らしが</p>
            <p>ある”地方のむら”が大好きで、私た</p>
            <p>ちで何か「むらを応援する」ことがで</p>
            <p>きないかと思い始まりました。</p>
          </div>
          <div>
            <p>むらと私たち、”人”がつながる。</p>
            <p>むらの”おいしい食”でつながる。</p>
            <p>”楽しいこと”でつながる。</p>
          </div>
          <img src="https://tshirt519.github.io/mulunch/img/conceptlogo2.png" alt="コンセプトページのロゴ">
        </div>
      </div>
      <div class="concept-right">
        <img src="https://tshirt519.github.io/mulunch/img/conceptright-2.png" alt="コンセプトページの写真">
      </div>
    </div>
  </section>
                        <!-- ============================= 活動紹介ページ ============================= -->
  <section id="activity" class="activity-wrapper">
    <div class="container">
      <div class="activity-heading">
        <h1><span class="mulunch-font">むらんちの活動</span></h1>
        <p>都心からむらへ、むらから都心へ</p>
      </div>
      <div class="activity-description">
        <h2>むらと私たちができることを楽しく！</h2>
        <p>活動の大きな柱として、応援したいむらを見つけ、都心で”食の発信”をしています。</p>
        <p>他にむらとつながりながら、田舎体験や観光などを楽しんでいます。</p> 
      </div>
      <div class="activity-image-up">
        <img src="https://tshirt519.github.io/mulunch/img/actimg1-5.png" alt="活動事例1">
        <img src="https://tshirt519.github.io/mulunch/img/actimg2-2.png" alt="活動事例2">
        <img src="https://tshirt519.github.io/mulunch/img/actimg3-4.png" alt="活動事例3">
      </div>
      <div class="activity-image-low">
        <img src="https://tshirt519.github.io/mulunch/img/actimg4-2.png" alt="活動事例4">
        <img src="https://tshirt519.github.io/mulunch/img/actimg5-2.png" alt="活動事例5">
      </div>
    </div>
  </section>
                        <!-- ============================= トピックスページ ============================= -->
  <section id="topics" class="topics-wrapper">
    <div class="container">
      <div class="topics-heading">
        <p>最新のお知らせ</p>
        <h2>TOPICS</h2>
      </div>
                        <!-- ============================= スライドショー javascript ============================= -->
      <div id="js-slideshow">
        <div id="js-previous">&lt;</div>
        <ul id="js-slides"></ul>
        <!-- <ul id="js-slides-2" class="hidden"></ul>
        <ul id="js-slides-3" class="hidden"></ul> -->
        <div id="js-next">&gt;</div>
      </div>
      <ul id="js-slideshow-index">
        <li></li>
      </ul>
    </div>
  </section>
  
                        <!-- ============================= 村紹介ページ ============================= -->
  <section id="village" class="village-wrapper">
    <div class="village-background"></div>
    <div class="sp-village">
      <img src="https://tshirt519.github.io/mulunch/img/sp-village-1.png" alt="スマートフォン用の村イメージ">
    </div>
    <div class="container">
      <div class="villages-item">
        <img src="https://tshirt519.github.io/mulunch/img/uenomurabg1-3.png" alt="上野村の風景" class="villages-image">
        <details class="drawer">
          <summary>
            <i class="fas fa-chevron-circle-down"></i>
            READ MORE
          </summary>
          上野村（うえのむら）は、群馬県の南西部（最南端）に位置する、多野郡に存在する村。
          群馬県で最も人口の少ない自治体かつ（平成27年6月1日現在）、
          関東地方の島嶼部（伊豆諸島・小笠原諸島）を除いた最も人口の少ない自治体である。
        </details>
      </div>
      <div class="villages-item">
        <img src="https://tshirt519.github.io/mulunch/img/oshikamurabg-2.png" alt="大鹿村の風景" class="villages-image">
        <details class="drawer">
          <summary>
            <i class="fas fa-chevron-circle-down"></i>
            READ MORE
          </summary>
          南アルプスと伊那山地に挟まれた山間の土地。中央構造線が村内を南北（国道沿い）に通っており、
          天竜川の支流・小渋川が南アルプスから西流している。村の北端は分杭峠、南端は地蔵峠の難所である。
          地蔵峠から北流する青木川と、分杭峠から南流する鹿塩川が中央構造線の谷筋に沿って流れ、
          小渋川に流入している。
        </details>
      </div>
    </div>
    <div class="village-lunch-section"></div>
  </section>

                        <!-- ============================= 店舗紹介ページ ============================= -->
  <section id="lunch" class="lunch-wrapper">
    <div class="lunch-background"></div>
    <div class="sp-lunch">
      <img src="https://tshirt519.github.io/mulunch/img/sp-lunch-1.png" alt="スマートフォン用の店イメージ">
    </div>
    <div class="container">
      <img src="https://tshirt519.github.io/mulunch/img/lunchimg1-2.png" alt="定食のイメージ1" class="lunch-image">
      <img src="https://tshirt519.github.io/mulunch/img/lunchimg2.png" alt="定食のイメージ2" class="lunch-image">
      <img src="https://tshirt519.github.io/mulunch/img/lunchimg3.png" alt="定食のイメージ3" class="lunch-image">
    </div>
  </section>
  
                        <!-- ============================= アクセス  gmap api ============================= --> 
  <section id="access" class="access-wrapper">
    <h2 class="access-heading">
      <i class="fas fa-map-marker-alt"></i>
      ACCESS
    </h2>
    <div class="container access-container">
      <div class="access-left">
        <div class="access-address">
          <p>〒162-0825</p>
          <p>東京都新宿区神楽坂6丁目19</p>
          <p>TEL 03-6457-5597</p>
          <p>11:30-14:30 (LO 14:00)</p>
        </div>
        <p class="access-station">最寄駅</p>
        <div class="access-transport">
          <ul>
            <li>JR 飯田橋駅 西口 徒歩11分</li>
            <li>東京メトロ 各線 飯田橋駅 B3出口 徒歩10分
            </li>
            <li>都営大江戸線 飯田橋駅 B3出口 徒歩10分
            </li>
            <li>東京メトロ東西線 神楽坂駅 出口1 徒歩3分</li>
            <li>都営大江戸線 牛込神楽坂駅 A3出口 徒歩6分</li>
          </ul>
        </div>
      </div>
      <div class="access-right">
        <img src="https://tshirt519.github.io/mulunch/img/access-image.png" alt="アクセスページの装飾">
        <div id="js-map"></div>
        <div class="sp-gmap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.93687091488!2d139.7345646156244!3d35.70317108018913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c5736aef4ab%3A0xf2e4e97838ffcb76!2z44KA44KJ44KA44GZ44Gz!5e0!3m2!1sja!2sjp!4v1615879801737!5m2!1sja!2sjp"style="border:0;" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </section>

                        <!-- ============================= フォトギャラリー ============================= -->
  <section id="gallery" class="gallery-wrapper">
    <div class="lunch-gallery-section"></div>
    <h2 class="gallery-heading">Photo gallery</h3>
    <div class="gallery-flex">
      <div id="js-previous">&lt;</div>
      <div id="js-gallery"></div>
      <div id="js-next">&gt;</div>
    </div>
  </section>
                        <!-- ============================= 活動参加フォーム ============================= -->
  <section id="join" class="join-wrapper">
    <div class="container">
      <div class="join-flex">
        <div class="join-left">
          <div class="join-heading">
            <h2>JOIN</h2>
            <p>参加してみよう！</p>
          </div>
          <div class="join-description">
            <h3>「むら」をむすぼう</h3>
            <p><span class="mulunch-font">むらんち</span>では、一緒にむらをむすぶ仲間を募集しています。</p>
            <p>いろんな興味・関心を持ったメンバーの関わりのなかで活動がうまれています。</p>
            <p>少しでも興味がある方はお気軽にお問い合わせくださいね！</p>
          </div>
        </div>
        <img src="https://tshirt519.github.io/mulunch/img/join-right-3.png" alt="活動参加ページのメッセージ">
      </div>
      <div class="join-flow">
        <img src="https://tshirt519.github.io/mulunch/img/join-flow1.png" alt="活動参加のフロー">
      </div>

      <form action="mailto:muramusubi.lunch@gmail.com" method="POST" enctype="text/plain" class="join-form">
        <div class="join-form-flex">
            <div class="join-name-email">
              <input class="top-join-input" type="text" name="shimei" placeholder="お名前">
            </div>
            <div class="join-name-email">
              <input class="top-join-input" type="email" name="email" placeholder="メールアドレス">
            </div>
        </div>
        <div>
            <textarea name="contact" cols="100" rows="10" placeholder="お問い合わせ内容" class="join-form-body"></textarea>          
        </div>
        <input type="submit" value="送信" class="form-post">
      </form>
    </div>
    <div class="join-footer-section"></div>
  </section>
</main>

<script src="https://tshirt519.github.io/mulunch/js/slide.js"></script>
<script src="https://tshirt519.github.io/mulunch/js/map.js"></script>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQya2RJqCT-wgpDmN110G1Iq8WfE-CxG4&callback=initMap">
</script>
<script src="https://tshirt519.github.io/mulunch/js/gallery.js"></script>
<script>
  setTimeout(function() {
    let loadingIcon = document.getElementById('js-loading-icon');
    loadingIcon.classList.add('loaded');
  }, 3 * 1000);
</script>