<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>タイトル</p>
          <textarea name="title"></textarea>
          <p>概要</p>
          <textarea name="content"></textarea>
          <p>記事</p>
          <textarea name="article"></textarea>
          <p>タグ</p>
          <textarea name="tag"></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>