<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create", {multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>タイトル</p>
          <textarea name="title"></textarea>
          <p>概要</p>
          <textarea name="content"></textarea>
          <p>画像1</p>
          <input name="image1" type="file">
          <p>記事1</p>
          <textarea name="article1"></textarea>
          <p>画像2</p>
          <input name="image2" type="file">
          <p>記事2</p>
          <textarea name="article2"></textarea>
          <p>画像3</p>
          <input name="image3" type="file">
          <p>記事3</p>
          <textarea name="article3"></textarea>
          <p>画像4</p>
          <input name="image4" type="file">
          <p>記事4</p>
          <textarea name="article4"></textarea>
          <p>画像5</p>
          <input name="image5" type="file">
          <p>記事5</p>
          <textarea name="article5"></textarea>
          <p>タグ</p>
          <input type="text" name="tag" list="tag" placeholder="未設定" autocomplete="off">
          <datalist id="tag">
            <option value="muramusubi">
            <option value="villages">
            <option value="PR">
          </datalist>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>