<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">

        </div>
        <div class="post-right">
          <div class="post-user-name">

          </div>
          <div class="post-title">
            <%= link_to(post.title, "/posts/#{post.id}") %>
          </div>
          <img src="<%= "/post_thumbnails/#{post.thumbnail}" %>">
          <div class="post-content">
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
          <div class="post-tag">
            <%= link_to("タグ：#{post.tag}", "/posts/tag_#{post.tag}") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>