// /* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #6e6d6e;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

// /* 共通レイアウト ================================ */
body {
  color: #6e6d6e;
  margin: 0 auto;
  min-height: 1vh;
}

.main {
  padding: 10% 2.5% 5%;
  width: 100%;
  height: auto;
  min-height: 60vh;
  background-color: #f5f8fa;
}

div.container {
  clear: both;
  padding: 0;
}

footer {
  padding: 40px 0;
}

.posts-index-flex {
  position: relative;
  box-shadow: 0 0 6px #c1ced7;
}

.footer-right {
  padding-top: 40px;
}

.footer-login {
  font-size: 12px;
}

div.footer-center {
  padding-bottom: 0;
}

a.sns-btn {
  font-size: 20px;
  box-shadow: 0px 4px 2px #c1ced7;
}

.fa-instagram:before {
  margin-left: 2px;
}

.fa-twitter:before {
  margin-left: 1px;
}

/* フォーム================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #6e6d6e;
}

.form-body {
  padding: 45px 30px 30px;
}

.form-error {
  background-color: #ff4d75;
  padding: 10px 0;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.form-error:hover {
  display: none;
}


.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 25px;
  margin-top: 8px;
  margin-bottom: 0;
  float: right;
  background: #de9044;
  color: #fff;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: #de9044;
  text-align: center;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.flash-alert {
  padding: 10px 0;
  color: white;
  background: #ff4d75;
  text-align: center;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.flash:hover {
  display: none;
}

.flash-alert:hover {
  display: none;
}

/* home#top ================================ */

.top-join-input {
  background: #fff;
  border: 1px solid #6e6d6e;
}

.fa-chevron-circle-down:before {
  font-size: 20px;
  line-height: 25px;
}

/* loading ================================ */

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      display: none;
      opacity: 0;
      z-index: -1;
  }
}

#js-loading-icon {
  width: 100%;
  height: 100vh;
  background-color: #de9044;
  filter: brightness(110%);
  z-index: 10000;
  position: fixed;
}

#js-loading-icon.loaded {
  animation: fadeOut 3s forwards;
}

.spinner {
  margin: 200px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 100;
  background-color: #f5f8fa;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}