/* posts/index ================================ */

.post-user-follow {
  display: flex;
  width: 100%;
}

.post-user {
  flex: 3;
}

#js-modalButton {
  padding: 10px 20px;
  background: #de9044;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0 2px 6px #c1ced7;
  display: block;
  flex: 1;
  cursor: pointer;
}

#js-modalButton:hover { 
  filter: brightness(110%);
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  height: 500vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.6s;
  padding: 64px;
  text-align: center;
}

.posts-show .posts-index-aside {
  max-width: 600px;
}

.posts-show aside {
  padding: 50px 0 0;
} 

.posts-show .post-tabs {
  margin: 5% 0 0 5%;
}

.posts-index-flex main {
  background: #f5f8fa;
}

.post-tabs {
  margin: 10% 0 0 5%;
  display: flex;
}

.post-tabs li a {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 2px 6px #c1ced7;
  display: block;
  font-size: 1vw;
}

.post-tabs li.active a {
  background-color: #de9044;
}

.post-tabs li.active a {
  color: #fff;
}

.post-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

.post-tabs li:hover {
  filter: brightness(110%)
}

.post-aside-thumbnail {
  margin: 20px auto 0;
  text-align: center;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-aside-thumbnail:hover {
  opacity: 0.6;
}

.posts-heading {
  margin: 60px 0 0 60px;
}

.post-aside-heading {
  text-align: center;
  margin-top: 40px;
}

.post-aside-title a:hover {
  opacity: 0.6;
}

.post-time-aside {
  text-align: center;
  padding-top: 20px;
}

.posts-index-flex {
  display: flex;
  justify-content: center;
}

main {
  flex: 3;
}

aside {
  flex: 1;
  padding: 15% 2% 5% 2%;
  height: auto;
  min-height: 30vh;
  background-color: #f5f8fa;
}

.post-title {
  margin: 20px 0 0;
}

.post-aside-title {
  margin: 0;
}

.post-content a:hover {
  opacity: 0.6;
}

.post-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.post-index-thumbnail:hover {
  opacity: 0.6;
}

.post-content p {
  padding: 40px 0;
}

.post-user-name {
  margin: auto 20px;
  vertical-align: middle;
}

.post-user-image:hover {
  opacity: 0.6;
}

.post-main {
  text-align: left;
}

.post-main img {
  text-align: center;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px auto;
}

.post-user-image {
  display: inline;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.post-tag {
  margin-top: 20px;
}

.post-tag a {
  background: #de9044;
  color: #fff;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-aside-tag {
  text-align: center;
}

.post-aside-tag a {
  font-size: 10px;
}

.post-tag a:hover {
  opacity: 0.6;
}

.post-title a {
  font-weight: bold;
  font-size: 20px;
}

.post-aside-title a {
  font-weight: bold;
  font-size: 12px;
}

.post-title a:hover {
  opacity: 0.6;
}

.posts-index-item {
  max-width: 1000px;
  margin: 40px auto;
  padding: 40px 60px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 20px;
}

.posts-index-aside {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 20px;
  font-size: 10px;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name:hover {
  color: #000;
}

/* posts/show ================================ */
.posts-show-title {
  font-weight: bold;
  font-size: 20px;
}

.posts-show-thumbnail img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
  margin: 20px 0;
}

.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  margin-left: 15px;
}

.posts-show-item p {
  margin: 40px 0;
}

.post-time {
  color: #8899a6;
  margin: 40px 0 20px;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

.post-menus {
  display: flex;
  flex: 2;
  width: 100px;
  margin-left: 20px;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 0 10px;
  width: 50px;
}

.post-menus a:hover {
  opacity: 0.6;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}

/* レスポンシブ ================================ */

@media (max-width: 1024px) {
  aside {
    display: none;
  }
}

@media (max-width: 640px) {
  .post-tabs {
    display: none;
  }
}